<div class="form-item form-type-textfield">
  <label for="">{{label}}{{#required}}<span class="form-required" title="This field is required.">*</span>{{/required}}</label>
  <input type="text" id="" name="" value="" size="" maxlength="" class="form-text{{#required}} required{{/required}}">
</div>
